Source: prom-redis-exporter
Section: python
Priority: extra
Maintainer: Felix Ruess <felix.ruess@roboception.de>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 1.0), python3-dev, python3-setuptools, python3-pip
Standards-Version: 3.9.5

Package: prom-redis-exporter
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: A service that exposes Prometheus metrics for Redis command results.
